body{
    background-image: url("../images/bg.jpg");
    background-size: 1400px 900px;
}
/*-----------------------------------------------*/
#submit{
    margin-top: 200px;
}
/*-----------------------------------------------*/
#button{
    margin-top: 100px;
}